## 6) String methods and functions

Objects in Python usually have built-in methods. These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

We call methods with a period and then the method name. Methods are in the form:

object.method(parameters)

Where parameters are extra arguments we can pass into the method. Don't worry if the details don't make 100% sense right now. Later on we will be creating our own objects and functions!

you can check a lot of string methods from here: https://www.w3schools.com/python/python_ref_string.asp

Here are some examples of built-in methods in strings:

In [5]:
num1= 10
num2= 7
result= num1 + num2
print('num1 is: ' + str(num1) + " and num2 is: " + str(num2) + 'and result is : ' +str(result) )

num1 is: 10 and num2 is: 7and result is : 17

In [6]:
num1 +num2

17

In [8]:
s = 'Hello World'
len(s) # length

11

In [9]:
s.upper()

'HELLO WORLD'

In [10]:
s.lower()

'hello world'

In [11]:
c = 'i love python'

In [14]:
c.startswith('i')

True

In [15]:
c.startswith('l')

False

In [16]:
c.endswith('n')

True

In [17]:
c.endswith('x')

False

In [20]:
s = 'I Love Python Language'

s.split()

['I', 'Love', 'Python', 'Language']

In [21]:
m = 'Python-Is-Awesome'

In [23]:
m.split("-")

['Python', 'Is', 'Awesome']

In [25]:
ip = '192.168.1.1'

In [26]:
ip.split('.')

['192', '168', '1', '1']

In [28]:
s.split('o')

['I L', 've Pyth', 'n Language']

## 7) Print Formatting

The easiest way to show this is through an example:

In [29]:
name= input('please enter your name')
age= input( 'please enter your age')
gender= input('what is your gender')

print(f"your name is: {name} and your are {age} years old, gender is {gender}")

please enter your name Ahmed
please enter your age 35
what is your gender Male

your name is: Ahmed and your are 35 years old, gender is Male

# Lists

Earlier when discussing strings we introduced the concept of a *sequence* in Python. Lists can be thought of the most general version of a *sequence* in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!


Lists are constructed with brackets [] and commas separating every element in the list.

Let's go ahead and see how we can construct lists!

In [30]:
# Assign a list to an variable named my_list
my_list= [1,2,3]

In [32]:
type(my_list)

list

In [33]:
list1= [1,1,1,2,3,4,5]

In [34]:
list1.count(1)

3

In [35]:
my_list = ['A string', 23, 100.232, 'o', True, ['ahmed', 'mohammed', 'eman']]
print(my_list)

['A string', 23, 100.232, 'o', True, ['ahmed', 'mohammed', 'eman']]

## 2) Indexing Lists

In [37]:
my_list[-1]

['ahmed', 'mohammed', 'eman']

In [40]:
my_list[-1][0]

'ahmed'

In [41]:
my_list[0][-1]

'g'

**you can update the list using indexing**

In [43]:
my_list[-1][-1] = "mariam"

In [44]:
my_list

['A string', 23, 100.232, 'o', True, ['ahmed', 'mohammed', 'mariam']]

## 3) Slicing Lists

In [45]:
my_list[:5]

['A string', 23, 100.232, 'o', True]

In [46]:
my_list = ['ahmed', 'eslam', 'eman', 400, 500, True]

In [47]:
my_list[1:]

['eslam', 'eman', 400, 500, True]

In [48]:
my_list[:3]

['ahmed', 'eslam', 'eman']

In [49]:
my_list[::2]

['ahmed', 'eman', 500]

In [50]:
my_list[::-1]

[True, 500, 400, 'eman', 'eslam', 'ahmed']

## 4) List Properties

**Concatenating**

In [51]:
my_list + ['New item1', 'new item2']

['ahmed', 'eslam', 'eman', 400, 500, True, 'New item1', 'new item2']

In [53]:
my_list = my_list + ['New item1', 'new item2']

In [54]:
my_list

['ahmed', 'eslam', 'eman', 400, 500, True, 'New item1', 'new item2']

**Repeating**

In [55]:
my_list * 2

['ahmed',
 'eslam',
 'eman',
 400,
 500,
 True,
 'New item1',
 'new item2',
 'ahmed',
 'eslam',
 'eman',
 400,
 500,
 True,
 'New item1',
 'new item2']

In [56]:
my_list= my_list * 2

In [57]:
my_list

['ahmed',
 'eslam',
 'eman',
 400,
 500,
 True,
 'New item1',
 'new item2',
 'ahmed',
 'eslam',
 'eman',
 400,
 500,
 True,
 'New item1',
 'new item2']

## 5) List Methods

If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above).

you can check a lot of list methods from here: https://www.w3schools.com/python/python_ref_list.asp

Let's go ahead and explore some more special methods for lists:

In [58]:
list1 = [1, 2, 3]
len(list1)

3

**append**

In [59]:
list1.append('append me!')

In [60]:
list1

[1, 2, 3, 'append me!']

In [62]:
list1.append(100.5)

In [63]:
list1

[1, 2, 3, 'append me!', 1, 100.5]

# sort

In [70]:
new_list = ['a',"A",'e','x','b','c']
new_list

['a', 'A', 'e', 'x', 'b', 'c']

In [71]:
new_list.sort()

In [72]:
new_list

['A', 'a', 'b', 'c', 'e', 'x']

In [73]:
new_list = [20, 120, 5, 90, 1000]
new_list

[20, 120, 5, 90, 1000]

In [74]:
new_list.sort()

In [75]:
new_list

[5, 20, 90, 120, 1000]

to sort descending

In [76]:
new_list.sort(reverse=True)

In [77]:
new_list

[1000, 120, 90, 20, 5]

In [79]:
min(new_list)

5

In [80]:
max(new_list)

1000

In [81]:
sum(new_list)

1235

## 6) Nesting Lists
A great feature of of Python data structures is that they support *nesting*. This means we can have data structures within data structures. For example: A list inside a list.

Let's see how this works!

In [84]:
# Make a list of lists to form a matrix
matrix= [[1,2,3],[4,5,6],[7,8,9]]

In [85]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [86]:
matrix[2][1]

8

In [87]:
matrix[1][0]

4

# Tuples

In Python tuples are very similar to lists, however, unlike lists they are *immutable* meaning they can not be changed and are faster than lists. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar. 

In this section, we will get a brief overview of the following:

1. Constructing Tuples
2. Immutability
3. When to Use Tuples

You'll have an intuition of how to use tuples based on what you've learned about lists. We can treat them very similarly with the major distinction being that tuples are immutable.

## 1) Constructing Tuples

The construction of a tuples use () with elements separated by commas. For example:

In [88]:
t= (1,2,3)

In [89]:
type(t)

tuple

In [91]:
t1= 1,2,3

In [92]:
type(t1)

tuple

In [93]:
t1= (1,1,3,4,5,6)

In [94]:
t1.count(1)

2

In [95]:
t1[-1]

6

## 2) Immutability

It can't be stressed enough that tuples are immutable. To drive that point home:

In [96]:
t1[0] = 'Change'

TypeError: 'tuple' object does not support item assignment

In [97]:
t1.append('new')

AttributeError: 'tuple' object has no attribute 'append'

In [98]:
word = 'hello world'

In [101]:
word[0] = 'H'

TypeError: 'str' object does not support item assignment

In [102]:
"H" + word[1:]

'Hello world'

# Sets

Sets are an unordered collection of *unique* elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

1. Create Sets from scratch
2. Create Sets from Lists
3. Add, Delete values from Set
4. Set Methods

In [103]:
x = {2,3,4}

In [104]:
type(x)

set

In [105]:
print(x)

{2, 3, 4}

In [106]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

In [107]:
x= set(list1)

In [108]:
x

{1, 2, 3, 4, 5, 6}

In [109]:
x.add(1)

In [110]:
x

{1, 2, 3, 4, 5, 6}

In [111]:
x.add(10)

In [112]:
x

{1, 2, 3, 4, 5, 6, 10}

delete

In [114]:
x.discard(3)

In [115]:
x

{1, 2, 4, 5, 6, 10}

In [116]:
x.remove(1)

In [117]:
x

{2, 4, 5, 6, 10}

In [118]:
x.discard(3)

In [119]:
x

{2, 4, 5, 6, 10}

In [120]:
x.remove(1)

KeyError: 1

In [121]:
x = {2, 3, 4}
y = {3, 5, 2, 7}

In [122]:
x.union(y)

{2, 3, 4, 5, 7}

In [123]:
x.intersection(y)

{2, 3}

In [125]:
y.difference(x)

{5, 7}

In [134]:
x={1,2,3,4,5,6}

In [135]:
x.pop()

1

In [138]:
x.update([10,20,30])

In [139]:
x

{1, 2, 3, 4, 5, 6, 10, 20, 30}

# Dictionaries

We've been learning about *sequences* in Python but now we're going to switch gears and learn about *mappings* in Python. If you're familiar with other languages you can think of these Dictionaries as hash tables. 

This section will serve as a brief introduction to dictionaries and consist of:

1. Constructing a Dictionary
2. Accessing, Inserting, Updating and Deleting objects in a dictionary
3. Nesting Dictionaries
4. Dictionary Methods

So what are mappings? Mappings are a collection of objects that are stored by a *key*, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.


## 1) Constructing a Dictionary
Let's see how we can construct dictionaries to get a better understanding of how they work!

In [144]:
my_dict = {'key1':'value', 'key2': 'value'}

In [145]:
my_dict

{'key1': 'value', 'key2': 'value'}

In [148]:
store= {'oranges': 10, 'apples': 8}

In [149]:
store

{'oranges': 10, 'apples': 8}

In [150]:
type(store)

dict

In [151]:
store['oranges']

10

In [152]:
my_dict2= {'key1': 123, 'key2': [1,2,3], 'key3': ['item1','item2'],'key4': {'A': 10, "b": 100}}

In [153]:
my_dict2

{'key1': 123,
 'key2': [1, 2, 3],
 'key3': ['item1', 'item2'],
 'key4': {'A': 10, 'b': 100}}

## 2) Accessing, Inserting, Updating and Deleting objects in a dictionary

In [154]:
my_dict2['key3']

['item1', 'item2']

In [156]:
my_dict2['key1'] + 7

130

In [160]:
store['apples'] - 1

7

In [162]:
store['apples']= store['apples'] - 1

In [164]:
store['apples']

7

In [166]:
store['apples'] = store['apples'] + 10

In [167]:
store['apples']

17

In [172]:
type(my_dict2['key3'])

list

In [174]:
type(my_dict2['key4'])

dict

In [175]:
my_dict2['key4']['A']

10

In [176]:
my_dict2['key4']['b']

100

In [178]:
type(my_dict2['key3'][0])

str

In [179]:
my_dict2['key3'][0].upper()

'ITEM1'

In [180]:
my_dict2['key3'][0].lower()

'item1'

In [181]:
my_dict2['new_key'] = 'Ahmed'

In [182]:
my_dict2

{'key1': 123,
 'key2': [1, 2, 3],
 'key3': ['item1', 'item2'],
 'key4': {'A': 10, 'b': 100},
 'new_key': 'Ahmed'}

In [183]:
d= {}

In [184]:
# Create a new key through assignment
d['answer'] = 41

In [185]:
d

{'answer': 41}

### Update

In [186]:
d['answer'] =1000

In [187]:
d

{'answer': 1000}

### Delete

In [188]:
my_dict = {'key1': 123, 'key2': [12, 23, 33], 'key3': ['item0','item1','item2']}
my_dict

{'key1': 123, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [189]:
del my_dict['key1']

In [190]:
my_dict

{'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [191]:
del my_dict['key3'][1]

In [192]:
my_dict

{'key2': [12, 23, 33], 'key3': ['item0', 'item2']}

## 4) Dictionary Methods

There are a few methods we can call on a dictionary, check also other dictionary methods
https://www.w3schools.com/python/python_ref_dictionary.asp <br>
Let's get a quick introduction to a few of them:

In [193]:
# Create a typical dictionary
d = {'key1': 1, 'key2': 2, 'key3': 3}
d

{'key1': 1, 'key2': 2, 'key3': 3}

In [194]:
d['key3']

3

In [195]:
d.get('key3')

3

In [196]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [197]:
type(d.keys())

dict_keys

In [198]:
list(d.keys())

['key1', 'key2', 'key3']

In [199]:
type(list(d.keys()))

list

In [201]:
list(d.values())

[1, 2, 3]

In [208]:
type(d.items())

dict_items

In [209]:
list(d.items())

[('key1', 1), ('key2', 2), ('key3', 3)]

In [204]:
list2= [('key1', 1), ('key2', 2), ('key3', 3)]

In [205]:
type(list2)

list

In [206]:
dict(list2)

{'key1': 1, 'key2': 2, 'key3': 3}

# if, elif, else Statements

<code>if</code> Statements in Python allows us to tell the computer to perform alternative actions based on a certain set of results.

Verbally, we can imagine we are telling the computer:

"Hey if this case happens, perform some action"

We can then expand the idea further with <code>elif</code> and <code>else</code> statements, which allow us to tell the computer:

"Hey if this case happens, perform some action. Else, if another case happens, perform some other action. Else, if *none* of the above cases happened, perform this action."

Let's go ahead and look at the syntax format for <code>if</code> statements to get a better idea of this:

    if case1:
        perform action1
    elif case2:
        perform action2
    else: 
        perform action3

## 1) `if`, `else` statments

Let's see a quick example of this:

In [210]:
1 > 2

False

In [211]:
2> 1

True

In [213]:
if True:
    print('Hello')
    print('Python')

print("Hi")

Hello
Python
Hi

In [214]:
if False:
    print('Hello')
    print('Python')

print("Hi")

Hi

In [225]:
x = False

if x:
    print('x was true')
else:
    print('X Was False')

X Was False

## 2) Multiple branches with `elif`

Let's get a fuller picture of how far <code>if</code>, <code>elif</code>, and <code>else</code> can take us!

We write this out in a nested structure. Take note of how the <code>if</code>, <code>elif</code>, and <code>else</code> line up in the code. This can help you see what <code>if</code> is related to what <code>elif</code> or <code>else</code> statements.

We'll reintroduce a comparison syntax for Python.

In [4]:
# loc = 'Auto Shop'
# loc = 'Bank'
# loc = 'Park'
# loc = 'Museum'
# loc = 'School'
loc= 'new loc'

if loc == 'Auto Shop':
    print('Welcome to Auto Shop')
elif loc == 'Bank':
    print(f"welcome to the {loc}")

elif loc == 'Park':
    print(f"welcome to the {loc}")

elif loc == 'Museum':
    print(f"welcome to the {loc}")

elif loc == 'School':
    print(f"welcome to the {loc}")

else:
    print(f"welcome to the {loc}")

welcome to the new loc

In [14]:
x = int(input())
op = input()
y = int(input())

if op == "+":
    print(f' {x} {op} {y} = {x + y}')
elif op == "-":
    print(f' {x} {op} {y} = {x - y}')
elif op == "*":
    print(f' {x} {op} {y} = {x * y}')
elif op == "/":
    if y == 0:
        print('can not divide by zero')
    else:
        print(f' {x} {op} {y} = {x / y}')

else:
    print('not defined op')

 12
 /
 3

 12 / 3 = 4.0

## 5) Ternary operator expression

In [17]:
a = 30 
b= 40

if a > b:
    print(a)
else:
    print(b)

40

In [19]:
print( a if a > b else b)

40

# for Loops

A <code>for</code> loop acts as an iterator in Python; it goes through items that are in a *sequence* or any other iterable item. Objects that we've learned about that we can iterate over include strings, lists, tuples, and even built-in iterables for dictionaries, such as keys or values.

We've already seen the <code>for</code> statement a little bit in past lectures but now let's formalize our understanding.

Here's the general format for a <code>for</code> loop in Python:

    for item in object:
        statements to do stuff
        
## Table of Contents
1. Iterate through Lists
2. Iterate through Strings
3. Iterate through Tuples
4. Tuple Unpacking
5. Iterate throuh Dictionaries
6. Iterate through Files
7. Use `range` to generate numbers.
8. Break & Continue
9. For-Else
10. Nested for loops
11. Examples

In [38]:
list1 = list(range(0,101,10))

In [39]:
type(list1)

list

In [40]:
list1

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [43]:
print(list1[0])
print(list1[1])

0
10

In [47]:
for n in list1:
    print(n -5)

-5
5
15
25
35
45
55
65
75
85
95

In [48]:
for n in list1:
    print(n **2)

0
100
400
900
1600
2500
3600
4900
6400
8100
10000

Notice that if a number is fully divisible with no remainder, the result of the modulo call is 0. We can use this to test for even numbers, since if a number modulo 2 is equal to 0, that means it is an even number!

Back to the <code>for</code> loops!

**Let's print only the even numbers from that list!**

In [50]:
list1 = [10, 201, 305, 402, 507, 630, 705, 866, 943, 1000]
evenlist= []
oddlist= []
for num in list1:
    if num % 2 == 0:
        print(f"{num} is even number")
        evenlist.append(num)
    else:
        print(f"{num} is odd number")
        oddlist.append(num)

10 is even number
201 is odd number
305 is odd number
402 is even number
507 is odd number
630 is even number
705 is odd number
866 is even number
943 is odd number
1000 is even number

In [51]:
evenlist

[10, 402, 630, 866, 1000]

In [52]:
oddlist

[201, 305, 507, 705, 943]

In [53]:
s= 'This is a string.'

In [57]:
for letter in s:
    print(letter.upper(), end="-")

T-H-I-S- -I-S- -A- -S-T-R-I-N-G-.-

In [58]:
tup = (1,2,3,4,5)

In [59]:
for value in tup:
    print(value + 5)

6
7
8
9
10

## 4) Tuple Unpacking
Tuples have a special quality when it comes to <code>for</code> loops. If you are iterating through a sequence that contains tuples, the item can actually be the tuple itself, this is an example of *tuple unpacking*. During the <code>for</code> loop we will be unpacking the tuple inside of a sequence and we can access the individual items inside that tuple!

In [62]:
list2 = [(2,4),(6,8),(10,12)]

In [65]:
for tup in list2:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [67]:
for (t1, t2) in list2:
    print(t1 + t2)

6
14
22

In [69]:
for t1, t2 in list2:
    print(t1 * t2)

8
48
120

In [71]:
list2 = [(2,4,20,30),(6,8,20,30),(10,12,20,30)]

for t1,t2,t3,t4 in list2:
    print(f'{t1} + {t2} + {t3} - {t4} = {t1 +t2+t3-t4}')

2 + 4 + 20 - 30 = -4
6 + 8 + 20 - 30 = 4
10 + 12 + 20 - 30 = 12

## 5) Iterate throuh Dictionaries

In [72]:
d = {'k1':1,'k2':2,'k3':3}

In [74]:
for item in d:
    print( item)

k1
k2
k3

In [75]:
for item in d.values():
    print( item)

1
2
3

In [76]:
for x ,y in d.items():
    print(f'the key is: {x} and the value is: {y}')

the key is: k1 and the value is: 1
the key is: k2 and the value is: 2
the key is: k3 and the value is: 3

## 8) Break & Continue

In [78]:
for i in range(10,41):
    if i % 3 == 0 :
        print(f'{i} is divideble by 3')
        break

    else:
        print(i)

10
11
12 is divideble by 3

In [79]:
for i in range(10,41):
    if i % 3 == 0 :
        print(f'{i} is divideble by 3')
        continue

    else:
        print(i)

10
11
12 is divideble by 3
13
14
15 is divideble by 3
16
17
18 is divideble by 3
19
20
21 is divideble by 3
22
23
24 is divideble by 3
25
26
27 is divideble by 3
28
29
30 is divideble by 3
31
32
33 is divideble by 3
34
35
36 is divideble by 3
37
38
39 is divideble by 3
40

## 9) For-Else

In [80]:
digit= range(10)
for i in digit:
    print(i)
else:
    print('no items left')

0
1
2
3
4
5
6
7
8
9
no items left

In [82]:
for x in range(1,11):
    print(f'Table of {x}')
    print("*"* 20)
    for y in range(1,11):
        print(f"{x} * {y} = {x * y}")
    print("-" * 20)

Table of 1
********************
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
--------------------
Table of 2
********************
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
--------------------
Table of 3
********************
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
--------------------
Table of 4
********************
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
--------------------
Table of 5
********************
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
--------------------
Table of 6
********************
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
--------------------
Table of 7
********************
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
--------------------
Table of 8
********************
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
--------------------
Table of 9
********************
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
--------------------
Table of 10
********************
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
--------------------

In [86]:
x= []
for i in range(10):
    print(i + 5)
    x.append(i + 5)

5
6
7
8
9
10
11
12
13
14

In [87]:
x

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

# List Comprehension

In [89]:
list3 = [i +5 for i in range(10)]

In [90]:
list3

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]