Question: How can I select customers who live in New York, are older than 25, 
           and have purchased more than 300,
ordering the results by purchase amount in descending order?"""
 Query 2: Update
 Question: How can I update the purchase amount of the customer with ID 5 to 700?
 Query 3: Delete
 Question: How can I delete customers who are younger than 25?

In [1]:
# Importing the SQLite3 library
import sqlite3
# Connecting to the SQLite database (or creating it if it doesn't exist)
conn = sqlite3.connect("example.db")
cursor = conn.cursor()
# Creating the customer table (if it doesn't already exist)
cursor.execute("""
CREATE TABLE IF NOT EXISTS customer (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER,
    city TEXT,
    purchase_amount REAL
)
""")
conn.commit()
# Clear the table to avoid duplicate data
cursor.execute("DELETE FROM customer")
conn.commit()
# Inserting sample data
cursor.executemany("""
INSERT INTO customer (id, name, age, city, purchase_amount) 
VALUES (?, ?, ?, ?, ?)
""", [
    (1, "Alice", 30, "New York", 500.0),
    (2, "Bob", 25, "Los Angeles", 300.0),
    (3, "Charlie", 35, "New York", 400.0),
    (4, "David", 28, "Chicago", 250.0),
    (5, "Eve", 22, "Los Angeles", 600.0)
])
conn.commit()

In [3]:
# Question: How can I select customers who live in New York, are older than 25, 
#            and have purchased more than 300,
# ordering the results by purchase amount in descending order?"""
cursor.execute('''
SELECT * FROM customer WHERE 
city = 'New York' AND age > 25 AND purchase_amount > 300 ORDER BY purchase_amount DESC
''')

print(cursor.fetchall())

# Query 2: Update
#  Question: How can I update the purchase amount of the customer with ID 5 to 700?
cursor.execute('''
UPDATE customer SET purchase_amount = 700 WHERE id = 5
''')

cursor.execute("SELECT * FROM customer")
print(cursor.fetchall())


#  Query 3: Delete
#  Question: How can I delete customers who are younger than 25?
cursor.execute('''
DELETE FROM customer WHERE age < 25 
''')

cursor.execute("SELECT * FROM customer")
print(cursor.fetchall())

[(1, 'Alice', 30, 'New York', 500.0), (3, 'Charlie', 35, 'New York', 400.0)]
[(1, 'Alice', 30, 'New York', 500.0), (2, 'Bob', 25, 'Los Angeles', 300.0), (3, 'Charlie', 35, 'New York', 400.0), (4, 'David', 28, 'Chicago', 250.0), (5, 'Eve', 22, 'Los Angeles', 700.0)]
[(1, 'Alice', 30, 'New York', 500.0), (2, 'Bob', 25, 'Los Angeles', 300.0), (3, 'Charlie', 35, 'New York', 400.0), (4, 'David', 28, 'Chicago', 250.0)]

In [ ]:
# Importing the SQLite3 library
import sqlite3
# Connecting to the SQLite database (or creating it if it doesn't exist)
conn = sqlite3.connect("example.db")
cursor = conn.cursor()

# q1
cursor.execute("SELECT * FROM Employee WHERE Salary > 4000")
print(cursor.fetchall())

# q2 : if TotalAmt is an attribute in the table orders
cursor.execute("SELECT * FROM Orders WHERE TotalAmt > 3000 ")
print(cursor.fetchall())

cursor.execute("SELECT * FROM Orders WHERE TotalAmt > 3000 ")
print(cursor.fetchall())