# Functions

## Introduction to Functions

This lecture will consist of explaining what a function is in Python and how to create one. Functions will be one of our main building blocks when we construct larger and larger amounts of code to solve problems.

**So what is a function?**

Formally, a function is a useful device that groups together a set of statements so they can be run more than once. They can also let us specify parameters that can serve as inputs to the functions.

On a more fundamental level, functions allow us to not have to repeatedly write the same code again and again. If you remember back to the lessons on strings and lists, remember that we used a function len() to get the length of a string. Since checking the length of a sequence is a common task you would want to write a function that can do this repeatedly at command.

Functions will be one of most basic levels of reusing code in Python, and it will also allow us to start thinking of program design (we will dive much deeper into the ideas of design when we learn about Object Oriented Programming).


## Table of Contents
1. `def` statment
2. Using `return` 
3. Function parameters
4. Unpacking function

In [1]:
def say_hello():
    print('Hello')

In [2]:
say_hello()

Hello

In [3]:
def greeting(name):
    print(f'Hello {name}')

In [4]:
greeting()

TypeError: greeting() missing 1 required positional argument: 'name'

In [5]:
greeting("Osama")

Hello Osama

In [7]:
def info(fname,mname,lname,age,gender):
    print(f'hello Mr {fname}')
    print(f"your full name is {fname} {mname} {lname}")
    print(f"you are {age} years old")

In [9]:
fname= input('Please fill your first name')
mname= input('Please fill your midle name')
lname= input('Please fill your last name')
age = int(input('Please fill your age'))
gender = input('Please fill your gender')
info(fname,mname,lname,age,gender)

Please fill your first name Osama
Please fill your midle name Ragab
Please fill your last name Awis
Please fill your age 21
Please fill your gender Male

hello Mr Osama
your full name is Osama Ragab Awis
you are 21 years old

In [ ]:
Osama Ragab Awis

In [10]:
fname= input('Please fill your first name')
mname= input('Please fill your midle name')
lname= input('Please fill your last name')
age = int(input('Please fill your age'))
gender = input('Please fill your gender')
info(fname,mname,lname,age,gender)

Please fill your first name Malak
Please fill your midle name Mahmoud
Please fill your last name Turky
Please fill your age 19
Please fill your gender Female

hello Mr Malak
your full name is Malak Mahmoud Turky
you are 19 years old

In [14]:
def info(fname,mname,lname,age,gender):
    if gender.strip().lower() == "male":
        print(f'hello Mr {fname.capitalize()}')
    else:
        print(f'hello Mss {fname.capitalize()}')
    print(f"your full name is {fname.capitalize()} {mname.capitalize()} {lname.capitalize()}")
    print(f"you are {age} years old")

In [12]:
fname= input('Please fill your first name')
mname= input('Please fill your midle name')
lname= input('Please fill your last name')
age = int(input('Please fill your age'))
gender = input('Please fill your gender')
info(fname,mname,lname,age,gender)

Please fill your first name malak
Please fill your midle name mahmoud
Please fill your last name turky
Please fill your age 19
Please fill your gender female

hello Mss malak
your full name is malak mahmoud turky
you are 19 years old

In [15]:
fname= input('Please fill your first name')
mname= input('Please fill your midle name')
lname= input('Please fill your last name')
age = int(input('Please fill your age'))
gender = input('Please fill your gender')
info(fname,mname,lname,age,gender)

Please fill your first name Osama
Please fill your midle name Ahmed
Please fill your last name mohame
Please fill your age 21
Please fill your gender Male

hello Mr Osama
your full name is Osama Ahmed Mohame
you are 21 years old

In [18]:
def greeting(p1, p2, p3):
    print(f'Hello {p1}')
    print(f'Hello {p2}')
    print(f'Hello {p3}')

In [20]:
greeting("Ahmed", "Mohamed")

TypeError: greeting() missing 1 required positional argument: 'p3'

In [21]:
def greeting(p1, p2, p3):
    people= [p1, p2, p3]
    for p in people:
        print(f'Hello {p}')

In [23]:
greeting('Ahmed', "mohamed")

TypeError: greeting() missing 1 required positional argument: 'p3'

In [24]:
def greeting(*people):
    for p in people:
        print(f'Hello {p}')

In [25]:
greeting('Ahmed')

Hello Ahmed

In [26]:
greeting("Ahmed", 'Mohamed')

Hello Ahmed
Hello Mohamed

In [27]:
greeting("Ahmed", 'Mohamed', 'Ossama')

Hello Ahmed
Hello Mohamed
Hello Ossama

In [30]:
def show_skills(name, *skills):
    print(f'Hello {name}')
    for skill in skills:
        print(f'your skill is {skill}')

In [31]:
show_skills("Ossama", "HTML","CSS","Python")

Hello Ossama
your skill is HTML
your skill is CSS
your skill is Python

In [40]:
skill1= {'HTML': 100, "CSS": 80, "Python": 20}

In [55]:
def show_skills(name, **skills):
    print(f'Hello {name}')
    for skill,prog in skills.items():
        print(f'your progress in {skill} is : {prog} %')

In [56]:
show_skills('Ossama', **skill1 )

Hello Ossama
your progress in HTML is : 100 %
your progress in CSS is : 80 %
your progress in Python is : 20 %

In [57]:
def show_skills(name, *skills):
    print(f'Hello {name}')
    for skill in skills:
        print(f'your skill is {skill}')

In [58]:
skills_list=["HTML","CSS","Python"]

In [59]:
show_skills("Ossama",*["HTML","CSS","Python"])

Hello Ossama
your skill is HTML
your skill is CSS
your skill is Python

## 1) `map` function

The **map** function allows you to "map" a function to an iterable object. That is to say you can quickly call the same function to every item in an iterable, such as a list. For example:

In [65]:
list_1 = [1, 2, 3, 4, 5]
list_2 = []

In [63]:
for n in list_1:
    list_2.append(n ** 2)
list_2

[1, 4, 9, 16, 25]

In [66]:
list_2= [n ** 2 for n in list_1]

In [67]:
list_2

[1, 4, 9, 16, 25]

In [68]:
def square(num):
    return num ** 2

In [70]:
map(square, list_1)

In [71]:
type(map(square, list_1))

map

In [69]:
list(map(square, list_1))

[1, 4, 9, 16, 25]

1- work on elements
2- return elements after calc

## 2) `filter` function

The filter function returns an iterator yielding those items of iterable for which function(item)
is true. Meaning you need to filter by a function that returns either True or False. Then passing that into filter (along with your iterable) and you will get back only the results that would return True when passed to the function.

In [77]:
nums = [0,1,2,3,4,5,6,7,8,9,10]
nums_even = []

for n in nums:
    if n % 2 == 0:
        nums_even.append(n)
nums_even

[0, 2, 4, 6, 8, 10]

In [73]:
nums_even = [i for i in [0,1,2,3,4,5,6,7,8,9,10] if i % 2 == 0]
nums_even

[0, 2, 4, 6, 8, 10]

In [75]:
def check_even(num):
    return num % 2 == 0

In [80]:
nums_even = []
for n in nums:
    if check_even(n) == True:
        nums_even.append(n)
nums_even

[0, 2, 4, 6, 8, 10]

## 3) `reduce` function

The reduce(fun,seq) function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along.

In [83]:
list(filter(check_even,nums))

[0, 2, 4, 6, 8, 10]

In [84]:
lis = [10, 255, 30, -4, 50]

In [92]:
n= 1
try:
    x= 0
    for i in lis:
        
        if x > i:
            x= x
        else:
            x= i
    
        n +=1
except:
    print('finish')

In [93]:
x

255

In [96]:
def check_bigger(a,b):
    return a if a > b else b

def check_smaller(a, b):
    return b if a > b else a

from functools import reduce

reduce(check_bigger, lis)

255

In [97]:
def calc_sum(a, b):
    return a + b

In [98]:
reduce(calc_sum,lis)

341

In [99]:
max(lis)

255

In [100]:
sum(lis)

341

## 4) lambda expression

One of Pythons most useful (and for beginners, confusing) tools is the lambda expression. lambda expressions allow us to create "anonymous" functions. This basically means we can quickly make ad-hoc functions without needing to properly define a function using def.

Function objects returned by running lambda expressions work exactly the same as those created and assigned by defs. There is key difference that makes lambda useful in specialized roles:

**lambda's body is a single expression, not a block of statements.**

* The lambda's body is similar to what we would put in a def body's return statement. We simply type the result as an expression instead of explicitly returning it. Because it is limited to an expression, a lambda is less general that a def. We can only squeeze design, to limit program nesting. lambda is designed for coding simple functions, and def handles the larger tasks.

In [101]:
def square(num):
    result = num ** 2
    return result

In [102]:
square(2)

4

In [103]:
square(9)

81

In [104]:
lambda x : x ** 2

In [106]:
num= range(10)

In [107]:
list(map(square, num))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [108]:
list(map(lambda x : x ** 2, num))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## Object-oriented programming (OOP)

### Youâ€™ll learn how to:

* Define a class, which is like a blueprint for creating an object
* Use classes to create new objects
* Model systems with class inheritance

### How Do You Define a Class in Python?
In Python, you define a class by using the class keyword followed by a name and a colon. Then you use .__init__() to declare which attributes each instance of the class should have:

In [111]:
class Dog:
    pass

In [123]:
class Dog:
    def __init__(self, name="Rex",age="1 year" ):
        self.name = name
        self.age = age

In [124]:
dog1 = Dog()

In [125]:
dog1.name

'Rex'

In [126]:
dog1.age

'1 year'

In [127]:
dog2 = Dog('Haski', '2years')

In [128]:
dog1.age

'1 year'

In [129]:
dog2.age

'2years'

In [147]:
class user:
    def __init__(self,f_name,m_name,l_name,gender):
        self.fname= f_name
        self.mname= m_name
        self.lname= l_name
        self.gender= gender.strip().lower()

    def full_name(self):
        return f'{self.fname} {self.mname} {self.lname}'


    def greeting(self):
        if self.gender== "male":
            return f"Hello Mr {self.fname}"
        
        elif self.gender == "female":
            return f"Hello Miss {self.fname}"
        
        else:
            return f"Hello {self.fname}"

    def allinf(self):
        return f"{self.greeting()}\nYour full name is: {self.full_name()} \nYour gender is {self.gender}"

In [148]:
user1= user(input(),input(),input(),input())

 ahmed
 mohame
 ossama
 male

In [149]:
user1.fname

'ahmed'

In [150]:
user1.mname

'mohame'

In [151]:
user1.lname

'ossama'

In [152]:
user1.full_name()

'ahmed mohame ossama'

In [153]:
user1.greeting()

'Hello Mr ahmed'

In [155]:
print(user1.allinf())

Hello Mr ahmed
Your full name is: ahmed mohame ossama
Your gender is male